[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "SDL_Image"]
	path = SDL_Image
	url = https://github.com/libsdl-org/SDL_Image.git
[submodule "pthread-win32"]
	path = pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32
[submodule "luajit-cmake"]
	path = luajit-cmake
	url = https://github.com/zhaozg/luajit-cmake
[submodule "luajit"]
	path = luajit
	url = https://luajit.org/git/luajit.git
